{% extends "heyroad/base.html" %}

{% block content %}
    {% for route in object_list %}
        <div class="post">
            {% if user.is_authenticated and route.user == user %}
            {% endif %}
            <div class="date">
                {{ route.date }}
            <a class="delete" href="{% url 'route-delete' pk=route.pk %}">
                delete
            </a>
            </div>
            <p><a href="{% url 'user' pk=route.user.pk %}">
                {{ route.user }}
            </a>
            cycled {{ route.distance }}km in {{ route.duration }}.</p>
            <a href="{% url 'route' pk=route.pk %}">More</a>
        </div>
    {% endfor %}
{% endblock %}