{% extends "heyroad/base.html" %}

{% block content %}
    <div class="post">
        <div class="date">
            {{ route.date }}
            <a class="delete" href="{% url 'route-delete' pk=route.pk %}">
                delete
            </a>
        </div>
        <p><a href="{% url 'user' pk=route.user.pk %}">
            {{ route.user }}
        </a>
        cycled {{ route.distance }}km in {{ route.duration }}.</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
            </tr>
            </thead>
            <tbody>
                {% for latlng in latlng_list %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ latlng.latitude }}</td>
                    <td>{{ latlng.longitude }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        {% for comment in comment_list %}
        <div>
            <div class="date">
                {{ comment.date }}
                {% if user.is_authenticated and comment.user == user %}
                <form action="/comment/delete/" method="POST" class="post-form">
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{ comment.pk }}">
                    <button type="submit" class="delete save btn btn-default">
                        Delete
                    </button>
                </form>
                {% endif %}
            </div>
            <p><a href="{% url 'user' pk=comment.user.pk %}">
                {{ comment.user }}
            </a></p>
            <p>{{ comment.text }}</p>
        </div>
        {% endfor %}
        <form action="/comment/" method="POST" class="post-form">
            {% csrf_token %}
            <input type="hidden" name="route-pk" value="{{ route.pk }}">
            {{ comment_form.as_p }}
            <button type="submit" class="save btn btn-default">
                Add comment
            </button>
        </form>
    </div>
{% endblock %}